.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.coverpage {
    height: 100%;
    width: 100%;
}

#coverScreen {
    background-color: #0c2752;
    color: #ffffff;
}

#coverScreen .title {
    font-family: "Abril Fatface", sans-serif;
    flex-direction: column;
    font-size: 500%;
    line-height: 0.8em;
}

#coverScreen .title div:nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 35%;
}

#mainMenu {
    height: 100%;
    max-width: 90%;
}

.mobile #mainMenu {
    height: 80%;
}

#mainMenuDesk {
    width: auto;
    height: 30%;
    top: 60%;
}

#mainMenuComputer {
    width: auto;
    height: 22%;
    top: 38%;
    transform: translateX(70%);
}

#mainMenuDecoration {
    width: auto;
    height: 14%;
    top: 46%;
    transform: translateX(10%);
}

#mainMenuDiploma {
    width: auto;
    height: 12%;
    top: 10%;
    transform: translateX(130%);
}

